
#main {
    

}



   
.name{
    text-align: center;
    font-family: Forte;
    
    
}
.container{
    margin: 0px;
    
}

#firstLast{
    padding-top: 100px;
}

.left{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.middle {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.right {
    margin: 0px;
    padding: 0px;
    text-align: center;
}



