a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

navbar{
    background: white;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navText{
    font-weight:bolder;
    font-size: 20px;
    padding-top: 20px;
}

.siteTitle {
    color: white;
    font-weight: bolder;
    
}
NavarBrand{
    color: white;
}

.black{
    background: black;
}
